@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }

.nav-button-gradient {
  background-color:hsla(320,55%,44%,1);
  background-image:
  radial-gradient(at 93% 85%, hsla(336,76%,56%,1) 0px, transparent 50%),
  radial-gradient(at 12% 3%, hsla(320,55%,44%,1) 0px, transparent 50%),
  radial-gradient(at 40% 20%, hsla(336,76%,57%,1) 0px, transparent 50%),
  radial-gradient(at 80% 0%, hsla(320,55%,44%,1) 0px, transparent 50%),
  radial-gradient(at 94% 19%, hsla(320,55%,44%,1) 0px, transparent 50%),
  radial-gradient(at 78% 26%, hsla(336,76%,56%,1) 0px, transparent 50%);
}

.image_blur_9px {
  filter: blur(9px);
}

.image_blur_12px {
  filter: blur(12px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.glassmorphism-light {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.pink-ghost-button {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.pink-ghost-button:hover {
  background-color:hsla(320,55%,44%,1);
  background-image:
  radial-gradient(at 93% 85%, hsla(336,76%,56%,1) 0px, transparent 50%),
  radial-gradient(at 12% 3%, hsla(320,55%,44%,1) 0px, transparent 50%),
  radial-gradient(at 40% 20%, hsla(336,76%,57%,1) 0px, transparent 50%),
  radial-gradient(at 80% 0%, hsla(320,55%,44%,1) 0px, transparent 50%),
  radial-gradient(at 94% 19%, hsla(320,55%,44%,1) 0px, transparent 50%),
  radial-gradient(at 78% 26%, hsla(336,76%,56%,1) 0px, transparent 50%);
}

.pink-button {
  transition: background-color 0.5s ease;
}

.pink-button:hover {
  background-color:hsla(320,55%,44%,1);
  background-image:
  radial-gradient(at 98% 97%, hsla(336,76%,56%,1) 0px, transparent 50%),
  radial-gradient(at 11% 15%, hsla(320,55%,44%,1) 0px, transparent 50%),
  radial-gradient(at 30% 10%, hsla(336,76%,57%,1) 0px, transparent 50%),
  radial-gradient(at 9% 60%, hsla(320,55%,44%,1) 0px, transparent 50%),
  radial-gradient(at 74% 15%, hsla(320,55%,44%,1) 0px, transparent 50%),
  radial-gradient(at 64% 100%, hsla(336,76%,56%,1) 0px, transparent 50%);
}

.explore-validator-bg-image {
  background-image: url(/validator_bg_blur.png);
  background-size: cover;
}

.explore-governance-bg-image {
  background-image: url(/governance_bg_blur.png);
  background-size: cover;
}

.lighten-on-hover {
  position: relative
}

.lighten-on-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:hsla(0,100%,50%,0);
  background-image:
  radial-gradient(at 87% 75%, hsla(28,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 22% 97%, hsla(343,0%,0%,1) 0px, transparent 50%);
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out
}

.lighten-on-hover:hover::before {
  opacity: 0;
}
